@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

:root {
  --text: #020617;
  --background: #f8fafc;
  --primary: #3b82f6;
  --secondary: #1d4ed8;
  --accent: #6366f1;
}

.dark {
  --text: #f8fafc;
  --background: #020617;
  --primary: #3b82f6;
  --secondary: #1d4ed8;
  --accent: #6366f1;
}

body {
  background-color: var(--background);
  color: var(--text);
  font-family: 'Inter', sans-serif;
}
