@import "tailwindcss";

:root {
  --text: #111827;
  --background: #ffffff;
  --primary: #f96120;
  --secondary: #f6380d;
  --accent: #52ef44;
}

.dark {
  --text: #ffffff;
  --background: #111827;
 --primary: #f96120;
  --secondary: #f6380d;
  --accent: #52ef44;
}

body {
  background-color: var(--background);
  color: var(--text);
}
